<header>
  <%= link_to root_path, class: "header-left" do %>
    <%= image_tag "twitter_logo.png", alt: "twitter", id: "header-logo" %>
    <span>美少女戦士ご褒美仮面＆お仕置き仮面</span>
  <% end %>

  <% if logged_in? %>
    <p><%= link_to 'ログアウト', logout_path, class: "logout button" %></p>
  <% end %>
</header>