<header>
  <%= link_to root_path, class: "header-left" do %>
    <%= image_tag "twitter_logo.png", alt: "twitter", id: "header-logo" %>
    <span>美少女戦士ご褒美仮面＆お仕置き仮面</span>
  <% end %>

  <% if logged_in? %>
    <div>
      <p><%= link_to 'ログアウト', logout_path, class: "logout button" %></p>
      <p><%= link_to '退会', user_path(current_user.id), method: :delete,
              data: {confirm: "本当に退会しますか？"}, class: "logout danger-button" %><p>
    </div>
  <% end %>
</header>