<%= flash[:danger] %>
<%= flash[:success] %>

<h1>Pages#index</h1>

<p>Find me in app/views/pages/index.html.erb</p>

  <% if logged_in? %>
    <%= link_to 'ログアウト', logout_path %>
  <% else %>
    <%= link_to 'Twitterでログイン', '/auth/twitter' %>
  <% end %>