.alert {
  width: 70%;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;

}

.alert-danger {
  color: #842029;
  background-color: #F8D7DA;
}

.alert-success {
  color: #0F5132;
  background-color: #D1E7DD;
}