header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;

  div {
    display: flex;
  }
}

.header-left {
  display: flex;
  align-items: center;

  span {
    font-size: 1.8em;
  }
}

#header-logo {
  width: 40px;
  margin: 20px 10px 20px 20px;
}



.logout {
  padding: 10px;
}

.button {
  color: #fff;
  background-color: #1DA1F2;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
  }
}

.danger-button {
  color: #fff;
  background-color: #F85149;
  border-radius: 5px;
  font-size: 0.8em;
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }
}